# Deploy token pro gitpull.php
DEPLOY_TOKEN=vase_tajne_heslo_zde
DEPLOY_BRANCH=main

# SMTP
SMTP_HOST=wes1-smtp.wedos.net
SMTP_USER=tonda@plushouse.cz
SMTP_PASS=vase_smtp_heslo

# Mailchimp
MC_APIKEY=vas_mailchimp_api_klic

# reCAPTCHA v3
RECAPTCHA_SECRET=vas_recaptcha_secret

# Eshop admin
ESHOP_ADMIN_PASSWORD=silne_heslo_pro_admin
