<!DOCTYPE html>
<html lang="cs">
<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
  <title>{{TITLE}}</title>
  <meta name="description" content="{{DESCRIPTION}}">
  <link rel="canonical" href="{{CANONICAL}}">
  <link rel="stylesheet" type="text/css" href="/css/bootstrap.css" />
  <link rel="stylesheet" type="text/css" href="/css/pix_style.css" />
  <link rel="stylesheet" type="text/css" href="/css/main.css"/>
  <link rel="stylesheet" type="text/css" href="/css/font-style.css" />
</head>
<body>
  <!-- Header/footer and section wrappers intentionally match service pages (fototermika) -->
  {{HEADER}}
  {{HERO}}
  {{SERVICES_SECTION}}
  {{SEGMENTS_SECTION}}
  {{OPTIONAL_CONTENT_BLOCK}}
  {{PACKAGES_SECTION}}
  {{PROCESS_SECTION}}
  {{FAQ_SECTION}}
  {{PARTNERS_SECTION}}
  {{CONTACT_SECTION}}
  {{FOOTER}}
  <script src="/js/jquery-1.11.2.js"></script>
  <script src="/js/bootstrap.js"></script>
  <script src="/js/custom.js"></script>
</body>
</html>
